body{
    background-image: url("https://previews.123rf.com/images/jtxie/jtxie1211/jtxie121100034/16262397-family.jpg");
    
}

.title{
    width: 100%;
    margin: 0px;
    font-size: 35;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.747);
}

.title2{
    float: none;
    background-color: indigo;
    font-size: 25;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px white;
}

.title3{
    font-size: 20px;
}

.results{
    font-size: 18px;
    margin-top: 20px;
}

.footer{
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: yellow;
    text-align:center ;
    line-height: 2;
}

canvas{
    border: 5px solid indigo;
    border-radius: 30px;
margin-top: 120;
box-shadow: 10px 10px 50px maroon;
}